<div class="search-bar-container">
    <form method="get" action="{% url 'blog:post_search' %}" class="search-form">
        {% csrf_token %}
        <input type="text" name="query" class="search-input" placeholder="What are you looking for?"
            {% if form.query.value %}value="{{ form.query.value }}" {% endif %}
            required>
        {% if form.query.errors %}
            <div class="search-error-messages">
                {% for error in form.query.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="search-button">Search</button>
    </form>
</div>
