{% extends "parent/base.html" %}
{% load blog_tags %}
{% block title %}Posts{% endblock title %}
{% block content %}

    <h1 class="post-list">POST LIST</h1>
    <ol style="--length: {{posts|length}}" role="list">
        {% for post in posts %}
            <li style="--i: {{forloop.counter}}">            
                <a href="{{post.get_absolute_url}}">
                    <h3 class="post-title">{{post}}</h3>
                </a>
                <p class="descr">{{post.description|truncatewords:10|censor}}</p>
                <img src='{{ post.images.first.image_file.url }}' alt='{{ post.images.first.image_file.title }}'></img>
                <br>
            </li>
        {% endfor %}
    </ol>
    {% include "partials/pagination.html" with page=posts %}
{% endblock content %}