{% extends "parent/base.html" %}
{% load blog_tags %}
{% block title %}User Dashboard{% endblock title %}
{% block content %}<div class="user-dashboard">
    <div class="user-dashboard ud-container">
    <div class="user-info ud-user-info-container">
        <h1 class="ud-username">Welcome, {{user.username}} !</h1>
        <button class="create-post ud-create-post-button" onclick="location.href='{% url 'blog:create_post' %}'">Create Post</button>
    </div>
    <div class="user-menus ud-user-menus-container">
        <div class="user-posts ud-user-posts-container">
        {% if posts %}
        <h2 class="ud-user-posts-title">Your Posts</h2>
        <table class="ud-user-posts-table">
            <thead class="ud-user-posts-table-head">
            <tr class="ud-user-posts-table-row">
                <th class="ud-user-posts-table-header">Title</th>
                <th class="ud-user-posts-table-header">Creation Date</th>
                <th class="ud-user-posts-table-header">Status</th>
                <th class="ud-user-posts-table-header">Actions</th>
            </tr>
            </thead>
            <tbody class="ud-user-posts-table-body">
            {% for post in posts %}
            <tr class="ud-user-posts-table-row">
                <td class="ud-user-posts-table-data"><a href="{{post.get_absolute_url}}" class="ud-user-posts-table-link">{{post.title}}</a></td>
                <td class="ud-user-posts-table-data">{{post.create_date}}</td>
                <td class="ud-user-posts-table-data">{{post.status}}</td>
                <td class="ud-user-posts-table-data">
                <button class="delete-post ud-delete-post-button" onclick="location.href='{% url 'blog:post_delete' post.id %}'">Delete</button>
                <button class="edit-post ud-edit-post-button" onclick="location.href='{% url 'blog:post_edit' post.id %}'">Edit</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No posts found!</p>
        <p class="ud-user-create-post"><a href={% url 'blog:create_post'  %} class="ud-user-create-post-link">CREATE A POST</a></p>
        {% endif %}
        </div>
        <div class="user-tickets ud-user-tickets-container">
        {% if tickets %}
        <h2 class="ud-user-tickets-title">Your Tickets</h2>
        <table class="ud-user-tickets-table">
            <thead class="ud-user-tickets-table-head">
            <tr class="ud-user-tickets-table-row">
                <th class="ud-user-tickets-table-header">Ticket Title</th>
                <th class="ud-user-tickets-table-header">Ticket Subject</th>
                <th class="ud-user-tickets-table-header">Status</th>
                <th class="ud-user-tickets-table-header">Creation Date</th>
            </tr>
            </thead>
            <tbody class="ud-user-tickets-table-body">
            {% for ticket in tickets %}
            <tr class="ud-user-tickets-table-row">
                <td class="ud-user-tickets-table-data">{{ticket.title}}</td>
                <td class="ud-user-tickets-table-data">{{ticket.subject}}</td>
                <td class="ud-user-tickets-table-data">{% if ticket.active %}"Answered" {% else %} "Wating" {% endif %}</td>
                <td class="ud-user-tickets-table-data">{{ticket.create_date}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="ud-user-no-ticket">No tickets!</p>
        <p class="ud-user-create-ticket"><a href={% url 'blog:ticket'  %} class="ud-user-create-ticket-link">CREATE A TICKET</a></p>
        {% endif %}
        </div>
    </div>
    </div>
    <br>
    <form method="post" action="{% url 'blog:logout' %}">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
    <br>
    <form method="post" action="{% url 'blog:change_password' %}">
        {% csrf_token %}
        <button type="submit">Change Password</button>
    </form>
    <br>
{% endblock content %}
