{% extends "parent/base.html" %}
{% block title %}Create | Blog{% endblock title %}
{% block content %}

    <h1>Create a Post</h1>
    <form method="post" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        <p>{{ form.title.label }} :</p>
        <input id="id_title" type="text" {% if form.title.value %}value={{ form.title.value }} {% endif %} name="title">
        {% if form.title.errors %}
            {% for error in form.title.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <p>{{ form.description.label }} :</p>
        <textarea id="id_description" name="description" cols="30" rows="10">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
        {% if form.description.errors %}
            {% for error in form.description.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <p>{{ form.reading_time.label }} :</p>
        <input id="id_reading_time" type="number" {% if form.reading_time.value %}value={{ form.reading_time.value }} {% endif %} name="reading_time">
        {% if form.reading_time.errors %}
            {% for error in form.reading_time.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        {% endif %}
        
        <input type="submit" value='Submit' class="submit-button">
    </form>
{% endblock content %}