{% extends "parent/base.html" %}
{% load blog_tags %}
{% block title %}Blog{% endblock title %}
{% block content %}
    <div>
        <header>
            <h1>Welcome to My Blog</h1>
        </header>

        <section>
            <h2>Latest Posts</h2>
            {% latest_posts 2 %}
        </section>

        <section>
            <h2>Most Popular Posts</h2>
            <ul>
                {% most_popular_posts 2 as pop_posts %}
                {% for post in pop_posts %}
                    <li>
                        <h3><span>{{post.author}}</span></h3>
                        <a href="{{post.get_absolute_url}}"><h3>
                            <span>{{post}}</span><br></h3>
                            <span>{{post.description|truncatewords:5|markdown}}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <div>
            <p>Total Posts: <span>{% total_posts %}</span></p>
            <p>Total Comments: <span>{% total_comments %}</span></p>
            <p>Date of Publishing the Last Post: <span>{% last_post_publish %}</span></p>
        </div>

    </div>
{% endblock content %}